<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.magicpos.mapper.SeatReservationMapper">

    <select id="getTotalUsedTime" resultType="long">
        SELECT COALESCE(SUM(TIMESTAMPDIFF(MINUTE, start_time, end_time)), 0)
        FROM seats_reservations
        WHERE u_no = #{userNo}
    </select>
  
    <!-- 좌석 예약 정보 저장 -->
    <insert id="insertSeatReservation">
        INSERT INTO seats_reservations (seat_id, u_no, start_time, end_time)
        VALUES (#{seatId}, #{userNo}, #{startTime}, #{endTime})
    </insert>

    <!-- 사용자가 이미 이용중인 좌석이 있는지 확인 -->
    <select id="countUsingSeatByUser" resultType="int">
        SELECT COUNT(*)
        FROM seats_reservations
        WHERE u_no = #{userNo}
    </select>

</mapper>