<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.magicpos.mapper.SeatMapper">

    <!-- 전체 좌석 조회 -->
    <select id="findAll" resultType="Seats">
        SELECT *
        FROM seats
        ORDER BY seat_id
    </select>

    <!-- 전체 좌석 조회 (좌석 데시보드 용 - 사용자 정보, 남은시간 도 조회) -->
    <select id="findAllSeatWithUsage" resultType="Seats">
        SELECT 
            s.seat_id, 
            s.seat_name, 
            s.seat_status, 
            u.username, 
            ut.remain_time AS remainTime
        FROM seats s 
        LEFT JOIN seats_reservations sr ON s.seat_id = sr.seat_id 
        LEFT JOIN users u ON sr.u_no = u.no 
        LEFT JOIN user_tickets ut ON u.no = ut.u_no
        ORDER BY s.seat_id;
    </select>



    <!-- 단일 좌석 조회 -->
    <select id="findById" resultType="Seats">
        SELECT *
        FROM seats
        WHERE seat_id = #{seatId}
    </select>

    <!-- 좌석 상태만 업데이트 (예: 실시간 상태 변경) -->
    <update id="updateStatus">
        UPDATE seats
        SET seat_status = #{seatStatus}
        WHERE seat_id = #{seatId}
    </update>

    <!-- 특정 좌석의 상태 및 사용자 정보 + 남은 시간까지 조회 -->
    <select id="findSeatUsageInfo" resultType="map">
        SELECT 
            s.seat_id,
            s.seat_name,
            s.seat_status,
            u.no AS user_no,
            u.username,
            ut.remain_time,
            sr.start_time,
            sr.end_time
        FROM seats s
        LEFT JOIN seats_reservations sr ON s.seat_id = sr.seat_id
        LEFT JOIN users u ON sr.u_no = u.no
        LEFT JOIN user_tickets ut ON u.no = ut.u_no
        WHERE s.seat_id = #{seatId}
        ORDER BY sr.end_time DESC
        LIMIT 1
    </select>
</mapper>
