
  <div th:fragment="orderModal" id="orderModal" style="
      display: flex;
      position: fixed; top: 0; left: 0;
      width: 100vw; height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 999;
      justify-content: center;
      align-items: center;
  ">
    <div style="
        width: 400px;
        height: 600px;
        background-color: #2C3E50;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        color: white;
    ">
      <h3 style="margin-bottom: 20px;">주문내역</h3>

      <!-- 탭 -->
      <div style="display: flex; border-radius: 20px; overflow: hidden; background-color: white; margin-bottom: 20px;">
        <button style="flex: 1; background-color: #f1c40f; border: none; padding: 8px;">진행중(0)</button>
        <button style="flex: 1; background-color: white; color: black; border: none; padding: 8px;">히스토리(0)</button>
      </div>

      <!-- 상태 아이콘 -->
      <img th:src="@{/images/주문내역없음.png}" alt="icon" style="width: 50px; margin-bottom: 16px;">

      <strong style="display: block; margin-bottom: 10px;">아직 주문하신 내역이 없습니다.</strong>
      <p style="font-size: 12px;">지금, 메뉴판에서 맛있는 간식을 골라 주문하시면<br>주문상황을 확인하실 수 있습니다.</p>
    </div>
  </div>
