<!-- admin_header.html -->
<div class="header" th:fragment="header">
    <div class="seat-wrapper">
        <div class="seat-title">사용현황</div>
        <!-- 좌석 현황 -->
        <div class="seat-info">
            <div class="seat-con-used" id="used-seat-count">
                <div class="seat-cell">0</div>
                <div class="seat-cell">0</div>
                <div class="seat-cell">0</div>
            </div>
            <div class="seat-con-all" id="total-seat-count">
                <div class="seat-cell">0</div>
                <div class="seat-cell">0</div>
                <div class="seat-cell">0</div>
            </div>
        </div>
    </div>
    <!-- 서버에서 좌석 받아오기  -->
    <input type="hidden" id="using-seat-hidden" th:value="${usingSeatCount}"/>
    <input type="hidden" id="total-seat-hidden" th:value="${totalSeatCount}"/>

    <div class="header-nav-con">
        <!-- 메뉴 -->
        <nav class="header-nav">
            <a href="/admin">매장관리</a><a href="/today">당일내역</a><a href="/users/admin/userlist">회원관리</a><a href="/sales">운영매출</a><a href="/products/admin/productlist">상품관리</a><a href="/logs">로그분석</a>
        </nav>
    </div>
</div>
