<!-- admin_header.html -->
<div class="header" th:fragment="header">
    <div class="seat-wrapper">
        <div class="seat-title">사용현황</div>
        <!-- 좌석 현황 -->
        <div class="seat-info">
            <div class="seat-con-used">
                <div class="seat-cell">1</div>
                <div class="seat-cell">5</div>
                <div class="seat-cell">0</div>
            </div>
            <div class="seat-con-all">
                <div class="seat-cell">1</div>
                <div class="seat-cell">8</div>
                <div class="seat-cell">0</div>
            </div>
        </div>
    </div>
    <div class="header-nav-con">
        <!-- 메뉴 -->
        <nav class="header-nav">
            <a href="/store">매장관리</a><a href="/today">당일내역</a><a href="/members">회원관리</a><a href="/sales">운영매출</a><a href="/products">상품관리</a><a href="/logs">로그분석</a>
        </nav>
    </div>
</div>
